<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet"> 
<main id ='contentContainer'>
    <!-- content box to wewnetrzy wysrodkowany kontener ---->
    <div id="contentBox">
    <!-- offers to kontener ---->
        <div class="offer" *ngFor = "let pojazd of pojazdy| paginate: { itemsPerPage: 5, currentPage: page } " routerLink='pojazd/{{pojazd.id}}'
        (click)='offerClicked(pojazd)'>
            <div class="offerImg">
                <img src='{{pojazd.Zdjecie}}' width="100%" height="100%" />
            </div>
            <div class="info">
                <div class="offerTitle">
                    <h2>{{pojazd.Tytul}}</h2>
                    
                </div>
                <div class="offerDescription">
                    <h2>{{pojazd.Opis}}</h2>
                </div>
            </div>

        </div>
    <div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    </div>


</main>

