
<div id="account_box">
    <!--Logo MotoSell-->
    <div id="logo" (click) = "home()"> <img src = '../../assets/car-logo.png' class = 'logo'/></div>
        <!--Menu moje oferty kontener-->
    <div id="acc_menu">
        <!--Menu moje oferty dodaj oferte itp-->
        <ul class ='navMenu'>
            <li (click)='myOffers()'>Moje Oferty</li>
            <li (click)='addOffer()'>Dodaj ofertę</li>
            <li (click)='logoutUser()'>Wyloguj</li>
        </ul>
        <!--informacje o zalogowanym uzytkowniku-->
    </div>
    <div id="user">
        <div id="userIcon"></div>
        <div id="userInfo"><p> Witaj:{{userUsername}}</p></div>
        
    </div>
</div>