<div id="updateOfferContainer">
    
<div id="imgContainer">
    <img src='{{selectedPojazd.Zdjecie}}' alt='{{selectedPojazd.Tytul}}'/>
    <h1>{{selectedPojazd.Tytul}}</h1>
    
</div>

<div id="info">
    <br>
<label> <b><p>Tytul</p></b>
    <input type='text' [(ngModel)]='selectedPojazd.Tytul'>
</label><br>
<label> <p><b>Kategoria:</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Kategoria'><br>
</label>
<label><b><p>Marka</p></b>
    <input type='text' [(ngModel)]='selectedPojazd.Marka'><br>
</label>
<label><p><b>Model</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Model'><br>
</label>
<label><p><b>Rok produkcji</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Rok_produkcji'><br>
</label>
<label><p><b>Przebieg</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Przebieg'><br>
</label>
<label><p><b>Pojemnosc skokowa</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Pojemnosc_skokowa'><br>
</label>
<label><p><b>Moc</b></p>
    <input type='text' [(ngModel)]='selectedPojazd.Moc'><br>
</label>
<label><p><b>Opis</b></p>
    <textarea [(ngModel)]='selectedPojazd.Opis'></textarea><br>
</label>

</div>

<div id="options">
<button (click)='updatePojazd()'>Update</button>
<button (click)='back()'>Cofnij</button>
</div>

</div>