@import '../../scss/_mixins.scss';
@import '../../scss/_media.scss';
@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';

#updateOfferContainer{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include bodyBuilder(99vw,100vh);
    @include desktop{
        @include bodyBuilder(99vw,220vh);
    }
    @include tablet{
        @include bodyBuilder(99vw,220vh);
    }
    @include mobile{
        float:none;
        @include bodyBuilder(100%,220vh);
    }
    text-align: center;
    background-image: url('../../assets/dark-honeycomb.png');
}
//div z inputami
#info{
@include bodyBuilder(100%,100%);
background-color: $mainBox_BgColor;
@include desktop{
    @include bodyBuilder(60vw,150vh);
}
}



#imgContainer{
    @include bodyBuilder(40%,100vh);
    float:left;
    @include tablet{
        float:none;
        @include bodyBuilder(100%,100vh);
    }
    @include mobile{
        float:none;
        @include bodyBuilder(100%,100vh);
    }

}
img{

    @include bodyBuilder(100%,60vh);
    margin-top: 5%;
    border-radius:20px;

}


h2{
    text-align: center;
    color:white;
}
label{
    display: block;
    text-align: center;
    margin-top:5px;

}


input {
    width:80%;
    height: 2.5em;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s;
    @include tablet{
        height: 1.5em;
    }
    @include mobile{
        height: 1.5em;
    }
    &:focus{
        border:darkblue;
        width: 85%;
    }
}
textarea{
    overflow-y: auto;
    width:80%;
    height:20vh;
    max-width: 90%;
    max-height: 25vh;
    @include desktop{
        max-width: 90%;
        max-height: 90vh;
    }
    @include mobile{
        max-width: 90%;
        max-height: 20vh;
    }
    @include tablet{
        max-width: 90%;
        max-height: 20vh;
    }
}
#offerDetails{
    width: 60%;
    height: 95vh;
    float:left;
    @include tablet{
        @include bodyBuilder(100%,120vh);
    }
    @include mobile{
        float:none;
        @include bodyBuilder(100%,120vh);
    }
}

//div z buttonami
#options{
    @include bodyBuilder(100%, 5%);
    @include tablet{
        @include bodyBuilder(100%,5%);
    }
    @include desktop{
        @include bodyBuilder(100%,7%);
    }
    background-color:yellowgreen;
}

button{
    @include bodyBuilder(50%,100%);

    &:first-child{
        box-shadow: 0px 10px 14px -7px #3dc21b;
        background:linear-gradient(to bottom, #44c767 5%, #366b1a 100%);
        background-color:#44c767;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #33662b;
        &:hover{
            background:linear-gradient(to bottom, #366b1a 5%, #44c767 100%);
            background-color:#366b1a;
        }
        &:active{
            position:relative;
	        top:1px;
        }
    }
    &:last-child{
        box-shadow: 0px 10px 14px -7px #732727;
        background:linear-gradient(to bottom, #cc2d2d 5%, #224c52 100%);
        background-color:#cc2d2d;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
        &:hover{
            background:linear-gradient(to bottom, #224c52 5%, #cc2d2d 100%);
	        background-color:#224c52;
        }
        &:active{
            position:relative;
	        top:1px;
        }
    }
}