@import "../../scss/_variables.scss";
@import "../../scss/_mixins.scss";
@import "../../scss/_placeholders.scss";
@import "../../scss/_media.scss";
.navMenu{
    list-style-type: none;
    width:100%;
    height: 100%;
    margin-left:0;
    padding: 0;
    
    &>li{
        @include bodyBuilder(100%,20%);
        color:rgb(255, 255, 255);
        font-size:30px;
        @extend %homePage_Li;
        @include desktop{
            margin-top:0;
            @include bodyBuilder(40%,85%);
            float: left;
        }       
        @include tablet{
            margin-top:0;
            @include bodyBuilder(40%,80%);
            float: left;
            font-size:20px;
        }        
        @include mobile{
            margin-top:0;
            @include bodyBuilder(40%,87%);
            float: left;
            font-size:20px;
        }
        &:first-child{
            border-left: none;
        }
        &:last-child{
            border-right: none;
        }
        &:hover{
            background-color: #3d3d3d9a;
            border-top: 4px inset#6868689a;
            border-bottom: 4px inset#504f4fce;
            
        }
    }
}
#account_box{
    @extend %accountBox;
    
    float:left;
    @include desktop{
        float:none;
        @include bodyBuilder(100%,20%);
    }
    @include tablet{
        float:none;
        @include bodyBuilder(100%,20%);
    }

    @include mobile{
        float:none;
        @include bodyBuilder(100%,16vh);
    }
}
#logo{
@extend %logo;
z-index: 20;
@include desktop{
    position: fixed;
    bottom:30px;
    right: 0;
    @include bodyBuilder(20%,15%);
}
@include tablet{
    position: fixed;
    bottom:30px;
    right: 0;
    @include bodyBuilder(20%,15%);
}
@include mobile{
    position: fixed;
    bottom:30px;
    right: 0;
    @include bodyBuilder(20%,15%);
}
}
.logo{
    @include bodyBuilder(100%, 100%);
}
#acc_menu{ 
    width:100%;
    height:100%;
    @include bodyBuilder(100%,100%);
    float: left;
    @include desktop{
        background-color: #686868a1;
        @include bodyBuilder(100%,20vh);
    }
    @include tablet{
        background-color: #686868a1;
        @include bodyBuilder(100%,15vh);
    }
    @include mobile{
        background-color: #686868a1;
        @include bodyBuilder(100%,15vh);
    }
}

//Ver Beta 
#account_box{
    @extend %accountBox;
    float:left;
}
//font awesome properties
.icons{
    font-size: 100px;

}

#user{
    width:90%;
    height: 40%;
    margin:0 auto;
    @include desktop{
        float:left;
        @include bodyBuilder(20%,90%);
    }
    @include tablet{
        float:left;
        @include bodyBuilder(20%,90%);
    }    @include mobile{
        float:left;
        @include bodyBuilder(20%,90%);
    }
}
#userIcon{
    @include bodyBuilder(60%,80%);
    border:1px solid black;
    margin:10px auto;

}
.userImg{
    width:100%;
    height: 100%;

}
#userInfo{
@include bodyBuilder(100%,20%);
text-align: center;
font-size:20px;
}

.icons{
    font-size:90px;
    margin-top: 10%;
        @include desktop{
            font-size:30px;
        }        @include tablet{
            font-size:30px;
        }        @include mobile{
            font-size:20px;
        }
    
}